@model IEnumerable<RosMovies.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}

<div id="back-layer" class="container-fluid">
    <form class="form-inline">
        <div class="form-group" style="margin-top:20px; width: 100%">
            <label for="mySearch">Поиск фильма по названию: </label>
            <input type="text" class="form-control" id="mySearch" placeholder="Введите название фильма">
        </div>
    </form>
</div>
<div class="container-fluid"style="margin-top: 20px">
    <table class="table table-condensed" id="myTable">
        <tbody></tbody>
    </table>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/MyListScript.js")


