@model IEnumerable<RosMovies.Models.Review>
@using RosMovies.Models


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*@Model.Name*@

@*@foreach(var movie in Model)
{
    @foreach(var rew in movie.Reviews)
    {
        @rew.MovieReview
    }
}*@