@using RosMovies.Models
@model User
@*@model List<RosMovies.Models.Movie>*@
@*@model IEnumerable<RosMovies.Models.User>
@{
    ViewBag.Title = "FavoriteMovies";
}*@

<h2>FavoriteMovies</h2>

@*@if (Model.Movies.Count() > 0)
{
    foreach (Movie movie in Model.Movies)
    {
        @movie.Name
    }
}*@

@foreach(Movie movie in Model.Movies)
{
    @movie.Name
}